<% if logged_in? %>
<div class = "row" >
  <div class="col-xs-12 col-md-3" style="margin-top: 20px;">

    <%= link_to gravatar_tag(@micropost.user, size: 50), @micropost.user %>
    &nbsp
    <span><%= link_to @micropost.user.name.capitalize, @micropost.user %></span> |
    <span><%= pluralize(current_user.microposts.count, "Micropost") %></span>

    <br>

    <%= render 'shared/micropost' %>


  </div>
  <div class="col-xs-12 col-md-8 col-md-offset-1">
    <h3 style="margin-left: 35px;" >Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>

<div class="jumbotron">
    <h1>Welcome To Pithugram</h1>
    <p>A Micro-Blogging Application</p>
    <%= link_to "<button type='button' class='btn btn-primary btn-lg'>Signup</button>".html_safe, signup_path %>

</div>
<% end %>
