
<div class= "row">

<h2 style="text-align: center;">Profile</h2>
<div class="col-xs-12  col-md-offset-1 col-md-10">


    <%= gravatar_tag @user.email, :size => 70, id: "w" %>


 <h4>Name:&nbsp <%= @user.name.capitalize %></h4>


 <section class="stats">
   <%= render 'shared/stats' %>
 </section>
 <br>
 <%= render 'follow_form' if logged_in? %>
<br><br>
<% if @user.microposts.any? %>
<h4> MICROPOSTS (<%= @user.microposts.count %>)</h4>
<ol class="micropost">
  <%= render @microposts %>
</ol>
</div>
<%= will_paginate @microposts %>

<% end %>
</div>
</div>
