<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_tag(micropost.user, size: 50), micropost.user %>

  <span class="use"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <small style="margin-left: 60px; display: block; color: gray; ">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </small>

</li>
